/**
 * Urkly Legal standard colors.
 * GB Pallette from flatui.
 */
.urkly-white { background-color: #f5f6fa; }
.urkly-white-txt { color: #f5f6fa }
.urkly-red { background-color: #e84118; }
.urkly-red-txt { color: #e84118; }
.urkly-light-blue { background-color: #487eb0; }
.urkly-light-blue-txt { color: #487eb0; }
.urkly-green { background-color: #4cd137; }
.urkly-green-txt { color: #4cd137; }
.urkly-yellow { background-color: #fbc531; }
.urkly-yellow-txt { color: #fbc531; }
.urkly-dark-blue { background-color: #273c75; }
.urkly-dark-blue-txt { color: #273c75; }
.urkly-black { background-color: #2f3640; }
.urkly-black-txt { color: #2f3640; }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f6fa;
}

.index-punchline {
    background-image: url('../img/lawyers.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 550px;
    padding-left: 55px;
    display: flex;
    align-items: center;
}

.newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-link {
    text-decoration: none;
}